{erl_opts, [{i, "_build/default/plugins/gpb/include"}]}.
{deps, [ranch, gpb, rebar3_gpb_plugin]}.
{plugins, [rebar3_gpb_plugin]}.

{gpb_opts, [
  {i, "../../../proto"},
  use_packages,
  {module_name_suffix, "_pb"},
  {o_erl, "src/pb"},
  {o_hrl, "include"},
  {string_as_binaries, true},
  type_specs]}.

{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}},
    {clean, {protobuf, clean}}
  ]}
]}.

