{erl_opts, [
  {i, "_build/default/plugins/gpb/include"},
  {i, "include"}
]}.
{deps, [ranch, gpb, rebar3_gpb_plugin]}.
{plugins, [ranch, gpb, rebar3_gpb_plugin]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [erlang]}
]}.

{gpb_opts, [
  {i, "../proto"},
  {module_name_suffix, "_pb"},
  {o_erl, "src"},
  {o_hrl, "include"},
  {string_as_binaries, true},
  type_specs]}.

{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}}
  ]}
]}.

{relx, [{release, {erlang, "0.1.0"},
  [erlang]},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}]}.